.content {
    width: 60%;
    max-width: 1900px;
    padding: 20px 0 100px 0;
    box-sizing: border-box;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .content {
        width: 85%;
    }
}
