.formBox {
    width: 100%;
    margin-top: 70px;
    .flexButton {
        display: flex;
        align-items: center;
        .personalButton {
            background-color: rgb(255, 255, 255);
            color: red;
            padding: 20px 30px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
            &.active {
                // active時のスタイル
                background-color: var(--main-red-color);
                color: var(--main-white-color);
            }
        }
        .companyButton {
            background-color: rgb(255, 255, 255);
            color: red;
            padding: 20px 30px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
            &.active {
                // active時のスタイル
                background-color: var(--main-red-color);
                color: var(--main-white-color);
            }
        }
    }
    .formBox {
        padding: 30px 0 40px 0;
        box-sizing: border-box;
        // form styling
        .form {
            width: 100%;
            .label {
            display: block;
            margin-top: 20px;
            .labelTitle {
                font-size: 20px;
                font-weight: bold;
                color: rgb(27, 27, 27);
            }
            .textInput {
                width: 100%;
                min-width: 800px;
                margin-top: 10px;
                margin-bottom: 10px;
                padding: 20px 30px;
                border-radius: 10px;
                border: 1px solid gray;
            }
            .errorMessage {
                color: red;
                margin-bottom: 20px;
            }
            // textarea
            .textarea {
                width: 100%;
                min-width: 800px;
                min-height: 200px;
                margin-top: 10px;
                margin-bottom: 20px;
                padding: 20px 30px;
                box-sizing: border-box;
                border-radius: 10px;
                border: 1px solid gray;
            }
            .checkbox {
                width: 20px;
                height: 20px;
                cursor: pointer;
                border-radius: 4px;
                border: 1px solid gray;
                pointer-events: auto;
            }
            .checkbox:checked {
                background-color: black;
            }
            }
            .checkLabel {
            .textBox {
                width: 100%;
                height: 200px;
                border-radius: 5px;
                border: 0.2px solid gray;
                margin: 20px 0 30px 0;
                overflow: scroll;
            }
            .checkboxContainer {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                gap: 20px;
            }
        
            .checkbox {
                width: 20px;
                height: 20px;
                cursor: pointer;
                border-radius: 4px;
                border: 1px solid gray;
                margin-right: 10px;
            }
        
            .errorMessage {
                color: red;
                margin-bottom: 20px;
            }
        
            .checkbox:checked {
                background-color: black;
            }
            }
        }
        .button {
            padding: 15px 50px;
            border-radius: 20px;
            border: 1px solid gray;
        }
        .button:hover {
            background-color: black;
            color: white;
        }
  
    }
}


// responsive

@media screen and (max-width: 768px) {
    // form styling
    .form {
      width: 100%;
      .label {
        display: block;
        margin-top: 20px;
        .labelTitle {
          font-size: 20px;
          font-weight: bold;
          color: rgb(27, 27, 27);
        }
        .textInput {
          width: 100%;
          margin-top: 10px;
          margin-bottom: 10px;
          padding: 20px 30px;
          border-radius: 10px;
          border: 1px solid gray;
        }
        .errorMessage {
          color: red;
          margin-bottom: 20px;
        }
        // textarea
        .textarea {
          width: 100%;
          min-height: 200px;
          margin-top: 10px;
          margin-bottom: 20px;
          padding: 20px 30px;
          box-sizing: border-box;
          border-radius: 10px;
          border: 1px solid gray;
        }
        .checkbox {
          width: 20px;
          height: 20px;
          cursor: pointer;
          border-radius: 4px;
          border: 1px solid gray;
          pointer-events: auto;
        }
        .checkbox:checked {
          background-color: black;
        }
      }
      .checkLabel {
        .textBox {
          width: 100%;
          height: 200px;
          border-radius: 5px;
          border: 0.2px solid gray;
          margin: 20px 0 30px 0;
          overflow: scroll;
        }
        .checkboxContainer {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          gap: 20px;
        }
    
        .checkbox {
          width: 20px;
          height: 20px;
          cursor: pointer;
          border-radius: 4px;
          border: 1px solid gray;
          margin-right: 10px;
        }
    
        .errorMessage {
          color: red;
          margin-bottom: 20px;
        }
    
        .checkbox:checked {
          background-color: black;
        }
      }
    }
    .button {
      padding: 15px 50px;
      border-radius: 20px;
      border: 1px solid gray;
    }
    .button:hover {
      background-color: black;
      color: white;
    }
  }