.boxButton {
  display: block;
  text-decoration: none;
  border-radius: 10px;
  text-align: center;
}

// props
.small {
  font-size: 13px;
  padding: 5px 10px;
  box-sizing: border-box;
}
.medium {
  font-size: 17px;
  padding: 17px 20px;
  box-sizing: border-box;
}
.large {
  font-size: 20px;
  padding: 15px 25px;
  box-sizing: border-box;
}

.red {
  color: var(--main-white-color);
  background-color: var(--main-red-color);
}
.white {
  background-color: var(--main-white-color);
  color: var(--main-black-color);
}
.black {
  background-color: var(--main-black-color);
  color: var(--main-white-color);
}

@media screen and (max-width: 1280px) {
  .boxButton {
  }
}

@media screen and (max-width: 768px) {
  .boxButton {
  }
}
