.list {
  display: block;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  position: relative;
  cursor:pointer &:hover {
    opacity: 0.7;
  }
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 60%;
    height: 3px;
    opacity: 0;
    background-color: var(--main-color);
    transform: translate(-50%, 0);
    transition: all 0.3s ease-in-out;
  }
  &:hover::after {
    width: 100%;
    opacity: 1;
  }
}

// props
.small {
  font-size: 13px;
  padding: 5px 15px;
  box-sizing: border-box;
}
.medium {
  font-size: 17px;
  padding: 10px 30px;
  box-sizing: border-box;
}
.large {
  font-size: 20px;
  padding: 15px 35px;
  box-sizing: border-box;
}

.red {
  color: var(--main-red-color);
}
.white {
  color: var(--main-white-color);
}
.black {
  color: var(--main-black-color);
}

@media screen and (max-width: 1280px) {
  .list {
  }
  // props
  .small {
    font-size: 13px;
    padding: 5px 10px;
    box-sizing: border-box;
  }
  .medium {
    font-size: 17px;
    padding: 10px 20px;
    box-sizing: border-box;
  }
  .large {
    font-size: 20px;
    padding: 15px 25px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 768px) {
  .list {
  }
  // props
  .small {
    font-size: 13px;
    padding: 5px 10px;
    box-sizing: border-box;
  }
  .medium {
    font-size: 17px;
    padding: 10px 20px;
    box-sizing: border-box;
  }
  .large {
    font-size: 20px;
    padding: 15px 25px;
    box-sizing: border-box;
  }
}
