.moreButton {

}
.moreButton:hover {

}

// props
.small {

}
.medium {

}
.large {

}
.red {
    color: var(--main-red-color);
}
.white {
    color: var(--main-white-color);
}
.black {
    color: var(--main-black-color);
}