.titleBox {
    display: flex;
    margin: 0 0 60px 0;
    padding-top: 80px;
    align-items: center;
    .circle {
        content: " ";
        display: block;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: #ff0211;
        margin-right: 16px;
        flex-shrink: 0;
    }
    .text {
        font-size: 16px;
        font-weight: 600;
    }
}

// props
.white {
    background-color: var(--main-white-color);
}
.black {
    background-color: var(--main-black-color);
}
.red {
    background-color: var(--main-red-color);
}

@media screen and (max-width: 1024px) {
    .titleBox {
        display: flex;
        margin: 0;
        padding-top: 50px;
        align-items: center;
        .circle {
            content: " ";
            display: block;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background: #ff0211;
            margin-right: 16px;
            flex-shrink: 0;
        }
        .text {
            font-size: 16px;
            font-weight: 600;
        }
    }
}