.textBox {
    margin-bottom: 50px;
    .text{
        color: var(--main-black-color);
        font-size: 18px;
        line-height: 34px;
        font-family: "Avenir-Roman","Arial","游ゴシック体",YuGothic,"游ゴシック Medium","Yu Gothic Medium","游ゴシック","Yu Gothic",sans-serif;
        font-weight: 400;
    }
}

@media screen and (max-width: 1024px) {
    .textBox {
        .text{
            font-size: 14px;
            line-height: 26px;
        }
    }
}