:root {
  /* color */
  --main-color: #ff0211;
  --main-red-color: #ff0211;
  --main-black-color: #000000;
  --main-white-color: #ffffff;

  /* fontSize */
  --small-font: 12px;
  --medium-font: 16px;
  --large-font: 22px;
}

html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}