.listBox {
  padding: 0px 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1280px) {
  .listBox {
  }
}

@media screen and (max-width: 768px) {
  .listBox {
  }
}
