.titleBox {
}

// props
// ja
.ja-small {
    font-size: 20px;
}
.ja-medium {
    font-size: 30px;
}
.ja-large {
    font-size: 40px;
}
.ja-light {
    font-weight: 300;
}
.ja-medium {
    font-weight: 500;
}
.ja-bold {
    font-weight: 800;
}
.ja-white {
    color: var(--main-white-color);
}
.ja-black {
    color: var(--main-black-color);
}
.ja-red {
    color: var(--main-red-color);
}