.news {
    width: 100%;
    height: 1000px;
    padding: 150px 0px;
    .container {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        background-color: var(--main-red-color);
        border-radius: 20px;
        padding: 100px 100px;
        .subTitle {
            display: block;
            font-size: 16px;
            line-height: 27px;
            margin: 0;
            font-weight: 700;
            color: white;
            font-family: 'Noto Sans JP', sans-serif;
        }
        .title {
            display: block;
            color: white;
            font-size: 70px;
            font-weight: 600;
            line-height: 70px;
            margin: 0;
            margin-bottom: 30px;
            font-family: 'Noto Sans', sans-serif;
        }
        // news
        .newsBox {
            width: 100%;
            display: block;
            position: relative;
            ul {
                width: 70%;
                position: absolute;
                right: 0;
                li:nth-child(1) {
                    border-top: 0.5px solid white;
                }
                li {
                    display: flex;
                    align-items: center;
                    right: 0;
                    width: 100%;
                    height: 80px;
                    border-bottom: 0.5px solid white;
                    .data {
                        display: block;
                        font-size: 14px;
                        margin: 0 30px 0 60px;
                        color: white;
                    }
                    .tag {
                        display: block;
                        padding: 5px 30px;
                        margin: 0 50px 0 0px;
                        border: 1px solid white;
                        color: white;
                        border-radius: 10px;
                    }
                    .newsTitle {
                        font-size: 18px;
                        color: white;
                    }
                    .arrow {
                        position: absolute;
                        right: 20px;
                        font-size: 20px;
                        color: white;
                    }
                }
                .moreButton {
                    display: block;
                    position: absolute;
                    right: 0;
                    margin: 50px 0;
                    width: 200px;
                    text-align: center;
                    padding: 10px 20px;
                    border: 1px solid white;
                    color: white;
                    border-radius: 10px;

                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .news {
        width: 100%;
        height: 700px;
        padding: 10px 0px;
        .container {
            width: 90%;
            height: 100%;
            margin: 0 auto;
            background-color: #0051CB;
            border-radius: 20px;
            padding: 20px 20px;
            .subTitle {
                display: block;
                font-size: 14px;
                line-height: 27px;
                margin: 0;
                font-weight: 700;
                color: white;
                font-family: 'Noto Sans JP', sans-serif;
            }
            .title {
                display: block;
                color: white;
                font-size: 60px;
                font-weight: 600;
                line-height: 70px;
                margin: 0;
                margin-bottom: 30px;
                font-family: 'Noto Sans', sans-serif;
            }
            // news
            .newsBox {
                width: 100%;
                display: block;
                ul {
                    width: 100%;
                    li:nth-child(1) {
                        border-top: 0.5px solid white;
                    }
                    li {
                        display: flex;
                        align-items: center;
                        right: 0;
                        width: 100%;
                        height: 90px;
                        border-bottom: 0.5px solid white;
                        .data {
                            display: block;
                            font-size: 12px;
                            margin: 0 5px 0 10px;
                            color: white;
                        }
                        .tag {
                            display: block;
                            padding: 3px 3px;
                            margin: 0 10px 0 0px;
                            font-size: 12px;
                            border: 1px solid white;
                            color: white;
                            border-radius: 10px;
                        }
                        .newsTitle {
                            font-size: 14px;
                            color: white;
                        }
                        .arrow {
                            position: absolute;
                            right: 20px;
                            font-size: 20px;
                            color: white;
                        }
                    }
                    .moreButton {
                        display: block;
                        position: absolute;
                        right: 0;
                        margin: 40px 0;
                        width: 200px;
                        text-align: center;
                        font-size: 13px;
                        padding: 10px 17px;
                        border: 1px solid white;
                        color: white;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}